.container {
    padding-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
}

.gameField {
    position: relative;
    display: flex;
    flex-shrink: 0;
    z-index: 0;
    width: 21rem;
    height: 18rem;
    margin: 0.5rem 1rem 0;
}
