.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 6rem;
}

.status {
    font-family: 'Sixtyfour';
    color: white;
    font-size: 1rem;
    height: 1rem;
    padding: 1rem 0;
    opacity: 0.3;
    animation: blink 1s ease-in-out infinite;
}

@keyframes blink {
    0%, 100% {
        opacity: 0.6;
    }
    50% {
        opacity: 1;
    }
}

.menu {
    padding: 1rem;
    display: flex;
}

.button {
    width: 2.3rem;
    height: 2rem;
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.4s;
}

.button:disabled {
    opacity: 0.1;
    cursor: default;
}

.button:disabled:hover {
    opacity: 0.1;
}

.button:hover {
    opacity: 0.9;
}

.button img {
    height: 100%;
    object-fit: cover;
}